@charset "UTF-8";
/* Scss Document */
@media (max-width: 1080px) {
  #food .food-pickup-title {
    display: none; }
  #food [class^="food-contents-special-"] {
    margin: 50px auto 0;
    height: auto; }
    #food [class^="food-contents-special-"] .food-number {
      max-width: none;
      max-height: none;
      width: 120px;
      height: 250px;
      margin: 0 auto 20px; }
    #food [class^="food-contents-special-"] .food-pickup-title-responsive {
      display: block;
      font-size: 2.7rem;
      line-height: 1.7;
      letter-spacing: 1px;
      color: #d7c27c;
      text-align: center;
      max-width: 950px;
      max-height: none;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 15px; }
    #food [class^="food-contents-special-"] .food-pickup-desc {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 1080px;
      max-height: none;
      width: 100%;
      height: auto;
      margin: 0 auto; }
      #food [class^="food-contents-special-"] .food-pickup-desc .food-pickup-desc-inner {
        max-width: 500px;
        max-height: none;
        width: 100%;
        height: auto;
        margin: 28px; }
        #food [class^="food-contents-special-"] .food-pickup-desc .food-pickup-desc-inner dt {
          float: none;
          margin: 0;
          padding: 0 15px 0;
          text-align: center;
          color: #fff;
          background: #a5140e; }
          #food [class^="food-contents-special-"] .food-pickup-desc .food-pickup-desc-inner dt + dd p {
            float: none;
            max-width: 900px;
            max-height: none;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 10px 20px;
            text-align: left; }
      #food [class^="food-contents-special-"] .food-pickup-desc .food-pickup-image {
        max-width: 480px;
        max-height: 360px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: static; }
        #food [class^="food-contents-special-"] .food-pickup-desc .food-pickup-image img {
          max-width: 480px;
          max-height: 360px;
          width: 100%;
          height: auto;
          margin: 0 auto;
          display: block; } }
@media (max-width: 900px) {
  #material .material-contents-pickup {
    flex-wrap: wrap; }
    #material .material-contents-pickup .material-pickup-title p {
      white-space: nowrap; }
    #material .material-contents-pickup .material-pickup-title h3 {
      white-space: normal; }
    #material .material-contents-pickup .material-pickup-caption {
      padding: 10px; }
    #material .material-contents-pickup .material-pickup-image img {
      max-width: 500px;
      width: 100%;
      height: auto; } }
@media screen and (max-width: 768px) {
  #wrapper .contents-title {
    font-size: 2.0rem;
    padding: 10px; }
  #wrapper .contents-title-sub {
    font-size: 1.5rem; }
  #wrapper #header .menu-button {
    display: block; }
  #wrapper #header .header-contents-two {
    display: none; }
  #wrapper #header .global-nav-ul {
    display: none; }
  #wrapper #main {
    /*----------------------------------------------------------------------
    
                                    マテリアル
    
    ------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------
    
                                    ワイン
    
    ------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------
    
                                    フード
    
    ------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------
    
                                    ドリンク
    
    ------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------
    
                            パーティアンドイベント
    
    ------------------------------------------------------------------------*/ }
    #wrapper #main .section-title {
      font-size: 3.0rem; }
    #wrapper #main [class$="contents-inner"] {
      margin: 0 auto;
      position: relative;
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      #wrapper #main [class$="contents-inner"] .header-wrap {
        width: 330px;
        padding: 20px;
        background: url("../images/wine_image_respo.png") no-repeat;
        background-size: cover;
        max-width: 336px;
        max-height: 505px;
        width: 100%;
        height: 505px;
        margin: 0 auto;
        text-align: center;
        position: relative; }
        #wrapper #main [class$="contents-inner"] .header-wrap::after {
          content: "";
          position: absolute;
          top: 0;
          left: -220px;
          display: block;
          width: 800px;
          height: 506px;
          background-color: #1c1c1c;
          z-index: -1; }
        #wrapper #main [class$="contents-inner"] .header-wrap .article-maintitle {
          font-size: 2.2rem;
          margin: 51px auto;
          line-height: 1.8; }
    #wrapper #main .article-image {
      display: none; }
    #wrapper #main .sub {
      max-width: 850px;
      max-height: auto;
      width: 90%;
      height: auto;
      margin: 20px auto;
      line-height: 1.9;
      text-align: left; }
      #wrapper #main .sub br {
        display: none; }
    #wrapper #main .slidbox li:nth-of-type(1) {
      display: block; }
    #wrapper #main .slidbox li:nth-of-type(2) {
      display: none; }
    #wrapper #main .slidbox li:nth-of-type(3) {
      display: none; }
    #wrapper #main #home .home-service {
      max-width: 320px;
      max-height: none;
      width: 100%;
      height: auto;
      margin: 0 auto 20px; }
    #wrapper #main #home .home-sub-caption {
      width: 100%;
      padding: 15px 10px;
      line-height: 2.2;
      text-align: left; }
      #wrapper #main #home .home-sub-caption::after {
        display: none; }
    #wrapper #main #home .home-sub {
      width: 100%;
      text-align: left; }
      #wrapper #main #home .home-sub::before {
        display: none; }
    #wrapper #main #material .material-list {
      width: 472px;
      margin: 0;
      overflow: hidden; }
    #wrapper #main #material .material-list-image {
      max-width: 472px;
      max-height: 315px;
      width: 472px;
      height: 315px;
      margin: 0 auto; }
    #wrapper #main #wine {
      width: 100%; }
      #wrapper #main #wine .wine-contents-one {
        width: 100%; }
        #wrapper #main #wine .wine-contents-one .aboutwine {
          background: #a5140e;
          margin: 0 auto;
          padding: 25px;
          width: 100%;
          text-align: center; }
          #wrapper #main #wine .wine-contents-one .aboutwine dt {
            background: #fff;
            color: #1c1a1a;
            text-align: center;
            margin: 0 auto; }
          #wrapper #main #wine .wine-contents-one .aboutwine dd {
            text-align: center;
            color: white;
            float: none;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%); }
            #wrapper #main #wine .wine-contents-one .aboutwine dd:nth-of-type(2) {
              display: none; }
      #wrapper #main #wine .wine-contents-two {
        margin: 0; }
        #wrapper #main #wine .wine-contents-two .wine-price-inner [class^="wine-price-"] {
          margin: 10px; }
      #wrapper #main #wine .wine-contents-three {
        background: none;
        width: 95%;
        height: auto;
        margin: 0 auto; }
        #wrapper #main #wine .wine-contents-three::after {
          background: none; }
        #wrapper #main #wine .wine-contents-three h3 {
          font-size: 2.8rem;
          border: none;
          letter-spacing: 2px; }
        #wrapper #main #wine .wine-contents-three .pickup-button {
          display: block;
          width: 240px;
          height: 38.5px;
          margin: 15px auto;
          font-weight: 500;
          font-size: 25px;
          font-family: "Quicksand", sans-serif;
          letter-spacing: 2px;
          background: #d6cf92;
          border-radius: 10px;
          vertical-align: middle;
          color: #686246;
          outline: none; }
      #wrapper #main #wine .pickupul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        background: none;
        display: none;
        /*@include WHM(1005px);
        background: url("../images/pickup_line.png") repeat-y;
        transform: translateX(-1px);
        position: relative;
        z-index: -5;
        padding-top: 32px;*/ }
        #wrapper #main #wine .pickupul .pickup {
          width: 100%;
          margin: 0 auto 50px;
          display: block;
          /*
          width: 400px;
          margin: 0 50px 50px;
          display: inline-block;*/ }
          #wrapper #main #wine .pickupul .pickup .pickup-num {
            /*font-size: 3.615rem;
            font-family: $number_font;
            color: #d6cf92;*/ }
            #wrapper #main #wine .pickupul .pickup .pickup-num::after {
              /*content: "uno";
              @extend .pickupnumonly;*/ }
          #wrapper #main #wine .pickupul .pickup .pickup-title {
            padding: 1rem; }
          #wrapper #main #wine .pickupul .pickup .pickup-sub {
            padding: 1rem;
            max-width: 500px;
            width: 100%;
            max-width: 500px;
            max-height: auto;
            width: 100%;
            height: auto;
            margin: 0 auto; }
      #wrapper #main #wine .pickup-images img:nth-of-type(1) {
        display: inline-block;
        width: 120px;
        height: 222px;
        margin: 0 auto; }
      #wrapper #main #wine .pickup-images img:nth-of-type(2) {
        display: inline-block;
        width: 237px;
        height: 237px;
        margin: 0 auto; }
    #wrapper #main #food .food-caption-contents-inner {
      margin-right: 28px; }
      #wrapper #main #food .food-caption-contents-inner .header-wrap {
        background: url("../images/food_image_respo.png") no-repeat;
        width: 320px;
        margin: 0 auto; }
    #wrapper #main #food .foodimage-one {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      max-width: 708px;
      width: 100%; }
      #wrapper #main #food .foodimage-one img {
        display: block;
        margin: 0;
        max-width: 236px;
        max-height: 236px;
        width: 35vw;
        height: 35vw;
        margin: 0; }
    #wrapper #main #food .food-chef-contents {
      padding: 30px 0; }
      #wrapper #main #food .food-chef-contents .food-chef-figure {
        padding: 0 20px; }
      #wrapper #main #food .food-chef-contents .food-chef-date {
        display: block;
        text-align: left; }
        #wrapper #main #food .food-chef-contents .food-chef-date .date1, #wrapper #main #food .food-chef-contents .food-chef-date .date2 {
          display: block; }
        #wrapper #main #food .food-chef-contents .food-chef-date .date2 {
          width: 100%; }
    #wrapper #main #food .food-contents-two .menu-day {
      flex-direction: column;
      justify-content: center; }
      #wrapper #main #food .food-contents-two .menu-day li {
        margin: 10px auto; }
    #wrapper #main #food .food-contents-two .menu-type-button {
      top: 420px; }
    #wrapper #main #drink .drink-list {
      max-width: 1200px;
      margin: 20px auto 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      #wrapper #main #drink .drink-list li {
        width: 130px;
        margin: 0 10px; }
    #wrapper #main #drink .drink-button {
      display: none; }
    #wrapper #main #drink .drink-button-phone {
      display: block;
      width: 130px;
      height: 130px;
      margin: 0 auto 23px; }
    #wrapper #main #drink .drink-genre {
      display: none; }
    #wrapper #main #drink .drinkmenu {
      width: 150px;
      height: auto;
      margin: 0 auto 10px;
      padding: 0; }
      #wrapper #main #drink .drinkmenu .list-layer2 {
        text-align: left; }
        #wrapper #main #drink .drinkmenu .list-layer2 dt:nth-of-type(1)::after {
          width: 150px;
          height: auto;
          margin: 0 auto; }
        #wrapper #main #drink .drinkmenu .list-layer2 dt:nth-of-type(2) {
          display: block;
          float: none;
          clear: both; }
        #wrapper #main #drink .drinkmenu .list-layer2 dt img {
          width: 150px;
          height: auto;
          margin: 0 0; }
        #wrapper #main #drink .drinkmenu .list-layer2 dd {
          display: block;
          float: none;
          clear: both;
          margin-top: 5px; }
    #wrapper #main #party .header-image.party::before, #wrapper #main #party .header-image.party::after {
      display: none; }
    #wrapper #main #party .party-contents-two {
      margin: 20px 0 0 -15px; }

  #footer .tel {
    display: block;
    flex-wrap: nowrap;
    font-size: 1.7rem;
    background: url(../images/footer_telback_phone.svg) no-repeat;
    width: 304px;
    height: 82px;
    margin: 0 auto;
    position: relative; }
    #footer .tel p:nth-of-type(1) {
      display: block;
      text-align: left;
      margin: 0;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap; }
    #footer .tel p:nth-of-type(2) {
      display: block;
      text-align: left;
      font-size: 3.0rem;
      margin: 0;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap; }
  #footer .address-sub {
    margin-top: 12px;
    text-align: center; }
  #footer .address-inner {
    max-width: 620px;
    max-height: auto;
    width: 100%;
    height: auto;
    margin: 12px auto 0;
    text-align: left;
    padding: 20px; }
    #footer .address-inner .address-description dt {
      margin-top: 8px;
      padding: 3px; }
    #footer .address-inner .address-description:nth-of-type(1) {
      float: none;
      display: block;
      clear: both; }
    #footer .address-inner .address-description:nth-of-type(2) {
      float: none;
      display: block;
      clear: both; }
  #footer .footer-contents-other {
    display: block; }
  #footer .footer-link-one {
    margin-right: 0; }
    #footer .footer-link-one ul {
      margin: 0 auto; }
  #footer .footer-link-two {
    font-family: sans-serif;
    text-align: left; }
    #footer .footer-link-two ul {
      letter-spacing: 2px;
      margin-top: 22px; }
      #footer .footer-link-two ul li {
        display: block;
        margin: 0 0 15px 0;
        text-align: center; }
    #footer .footer-link-two p {
      text-align: center; }

  .slidebar {
    overflow: hidden;
    font-family: "M PLUS Rounded 1c", sans-serif; }
    .slidebar .slide-title-image {
      display: block;
      width: 85%; }
    .slidebar .slide-info {
      position: absolute;
      top: 90px;
      left: 0;
      width: 300px;
      background: #000;
      color: #fff;
      padding: 15px; }
      .slidebar .slide-info > p {
        font-size: 2.0rem;
        margin-bottom: 8px; }
      .slidebar .slide-info p {
        text-align: left;
        line-height: 1.9; }
    .slidebar .nav-title.title-font {
      margin-top: 170px; } }
@media (max-width: 320px) {
  .menu-type {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    transition: 2.0s; }
    .menu-type li {
      width: 248px;
      margin-left: 60px; }
      .menu-type li:first-child {
        margin-left: calc(40px); }
      .menu-type li img {
        display: block;
        width: 248px; }
      .menu-type li p {
        width: 236px;
        border: solid 1px #de200b;
        line-height: 1.3;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 23px;
        color: #de200b; } }
